.main {
    width: 100%;
    height: 100%;
    overflow: auto;

    .header {
        
        width: 100%;
        height: 12%;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;

        .appName {
            color: rgba(114, 219, 115, 1);
            font-family: single day;
            font-size: 2rem;
            font-weight: 400;
            margin-left: 5%;
        }

        .profile {
            height: 80%;
            margin-right: 5%;
            cursor: pointer;
        }

    }

    .headingContainer {
        margin-top: 5%;
        width: 100%;
        height: 5%;

        .heading {
            font-family: Roboto;
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
            margin-left: 8%;
        }
    }
}

.main::-webkit-scrollbar{
    width: 10px;
}

.main::-webkit-scrollbar-thumb{
    background-color: rgba(114, 219, 115, 1);
    border-radius: 10px;
}