#main {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    

    .news {
        width: 80%;
        height: 85%;
        border-radius: 15px;
        background-color: white;
        margin-left: 5%;


        .image {
            width: 100%;
            height: 60%;


            img {
                width: 100%;
                height: 100%;
                border-top-right-radius: 15px;
                border-top-left-radius: 15px;
            }

        }

        .transparentBlock {
            width: 25%;
            height: 15%;
            background-color: rgba(0, 0, 0, 0.74);
            position: absolute;
            top: 38%;
            color: white;
            font-family: Roboto;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;

            #question {
                width: 90%;
                font-size: 1vw;
                font-weight: 600;
                padding-left: 2%;
            }

            #dateAndTime {
                font-size: 0.8vw;
                font-weight: 600;
                padding-left: 2%;
            }
        }


        .contentBox {
            width: 95%;
            height: 40%;

            margin-left: 2%;
            margin-top: 2%;

            .content {
                font-family: Roboto;
                font-size: 1.2vw;
                font-weight: 400;
            }
        }
    }

    .browseButton{
        width: 30%;
        height: 6%;
        border-radius: 20px;
        background-color: rgba(20, 138, 8, 1);
        color:rgba(255, 255, 255, 1);
        font-family: DM Sans;
        font-weight: 500;
        font-size: 1rem;
        margin-left: 55%;
    }

}